services:
#  backend:
#    build: .
#    container_name: sensor-backend
#    restart: unless-stopped
#    ports:
#      - "5000:5000"
#    environment:
#      - MONGO_URI=mongodb://mongo:27017/sensorapp
#      - JWT_SECRET=supersecret123
#    depends_on:
#      - mongo

  mongo:
    image: mongo
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
